doctype html
html
  head
    meta(charset='utf-8')
    title emo-vue
    link(href='index.css', rel='stylesheet', type='text/css')
  body
    h1 emo-vue
    script(src='index.js', type='text/javascript')
