doctype html
html
  head
    meta(charset='utf-8')
    title emo
    link(href='//yui.yahooapis.com/pure/0.5.0/pure-min.css', rel='stylesheet', type='text/css')
    link(href='//emo.jgs.me/emoji.css', rel='stylesheet', type='text/css')
    link(href='//emo.jgs.me/index.css', rel='stylesheet', type='text/css')
  body
    #emo
    script(src='index.js', type='text/javascript')
